@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&family=Rowdies:wght@300;400;700&family=Seymour+One&display=swap');


:root {
    --fonte1:  'Seymour One', sans-serif;
    --fonte2: 'East Sea Dokdo', cursive;
    --fonte3: 'Rowdies', cursive;
    --fonte-padrao: Arial,Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background: url(../backgrounds/body-background-m.jpg) no-repeat center center fixed;
    background-size: cover;
    font: normal normal 1em var(--fonte-padrao);
    overflow-x: hidden;
}

header {
   /* position: fixed; */
    background: url(../backgrounds/body-background-m.jpg) no-repeat center center fixed;
    background-size: cover;
    padding: 30px 30px 50px 15px;
    text-align: center;
    box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.637);
}
header h1 {
    color: brown;
    font: normal bolder 1.8em var(--fonte1);
    text-shadow: 2px 2px 2px #00000086;
}

header input#pesquisar {
    position: absolute;
    background-color: transparent;
    width: 220px;
    padding: 5px 0;
    border: 1px solid #0707076e;
    border-radius: 20px;
    top: 13.5%;
    left: 1%;
}
input#pesquisar:focus { /* retiragem da borda automatica*/
    box-shadow: inset 6px -1px 5px 0px #0000001f;
    outline: 0;
    border: 1px solid #000000b7;
}
#pesquisar::placeholder{
    font: normal bolder 1em Arial, Helvetica, sans-serif;
    font-variant: small-caps;

}

main {
    min-width: 700px;
    max-width: 1000px;
}

section.fundo-mesa {
    position: absolute;
    z-index: 10;
    background: whitesmoke url(../backgrounds/background-mesa-m.jpg) no-repeat center center scroll;
    background-size: cover;
    height: 100vh; 
    width: 800px;
    margin: 1px;
    box-shadow: 2px 2px 4px #000000b6;
}

section h2 {
    color: white;
    text-shadow: 1px 1px 2px black;
    padding: 90px ;
    font: italic bolder 3em var(--fonte3);
    font-variant: small-caps;
    text-align: center;
}

.lanches > p {
    background-color: #0000004d;
    color: white;
    padding: 5px ;
    font: normal normal 1.2em var(--fonte3);
    text-align: center;
    text-transform: lowercase;
    text-decoration: underline;
    text-decoration-color: black;
    border-radius: 10px 10px 10px 10px;
}

#lanche1 {
    position: absolute;
    top: 400px;
    left: -9px;
    cursor: pointer;
}
#lanche1 > p {
    text-align: center;
    visibility: hidden;
}

#lanche1:active > p {
    visibility: visible;
    transition-delay: .1s;
}

#lanche1:active{
    position: absolute;
    top: 36%;
    transition: .3s ease-in ;
}

#lanche2 {
    position: absolute;
    top: 375px;
    left: 290px;
    cursor: pointer;
}
#lanche2 > p {
    text-align: center;
    margin-top: -30px;
    visibility: hidden;
}
#lanche2:active > p {
    visibility: visible;
    transition: .1s;
}

#lanche2:active {
    position: absolute;
    top: 30%;
    transition: .3s ease-in ;
}

#lanche3 {
    position: absolute;
    top: 420px;
    left: 550px;
    cursor: pointer;
}
#lanche3 > p {
    text-align: center;
    visibility: hidden;
}
#lanche3:active > p {
    visibility: visible;
    transition: .1s;
}

#lanche3:active {
    position: absolute;
    top: 35%;
    transition: .3s ease-in ;
}

#celular {
    display: block;
    z-index: 8;
    position: relative;
    top: 190px;
    left: 790px;
}

.conteudo-celular {
    position: static;
    background-color: white;
    background: url(../images/cartaz-promoçao-m.png)center center scroll;
    background-size: cover;
    width: 104px;
    height: 221px;
    margin: -345px 170px;
}