@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

body {
    background: url(../images/body-background.jpg) no-repeat center center fixed;
    background-size: cover;
    font: normal normal 1em Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

header {
    background: url(../images/body-background.jpg) no-repeat center center fixed;
    background-size: cover;
    padding: 30px 30px 50px 15px;
    text-align: center;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.637);
}

header input#pesquisar {
    position: absolute;
    background-color: transparent;
    padding: 5px 0;
    border: 1px solid #0707076e;
    border-radius: 20px;
    top: 13.5%;
    left: 1%;
}
input#pesquisar:focus { /* retiragem da borda automatica*/
    box-shadow: inset 6px -1px 5px 0px #0000001f;
    outline: 0;
    border: 1px solid #000000b7;
}
#pesquisar::placeholder{
    font: normal bolder 1em Arial, Helvetica, sans-serif;
    font-variant: small-caps;

}

section.fundo-mesa {
    background: whitesmoke url(../images/background-mesa.jpg) no-repeat center center scroll;
    background-size: cover;
    height: 100vh; 
    width: 700px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 2px 2px 4px #0000002f;
}

section h2 {
    padding-top: 150px;
    text-align: center;
}

#lanche1 {
    position: absolute;
    height: 280px;
    top: 83%;
    left: -20px;
    cursor: pointer;
}
#lanche1 > p {
    font: normal bolder 1em Arial,Helvetica, sans-serif;
    text-align: center;
    visibility: hidden;
}

#lanche1:active > p {
    visibility: visible;
    transition-delay: .1s;
}

#lanche1:active {
    position: absolute;
    top: 50%;
    transition-delay: .1s;

}

#lanche2 {
    position: absolute;
    top: 77%;
    left: 200px;
    cursor: pointer;
}
#lanche2 > p {
    font: normal bolder 1em Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: -40px;
    visibility: hidden;
}

#lanche2:active > p {
    visibility: visible;
    transition-delay: .1s;
}

#lanche2:active {
    position: absolute;
    top: 50%;
    transition-delay: .1s;
}

#lanche3 {
    position: absolute;
    top: 84%;
    left: 450px;
    cursor: pointer;
}

#lanche3:active {
    position: absolute;
    top: 55%;
    transition-delay: .1s;
}


